[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
gunicorn = "*"
djangorestframework-jwt = "*"
django-otp = "*"
whitenoise = "*"
django-dotenv = "*"
django-cors-headers = "*"
dj-database-url = "*"
requests = "*"
djoser = "*"
django-templated-mail = "*"
psycopg2-binary = "*"
djangorestframework-bulk = "*"
rest-pandas = "*"
pandas = "*"
openpyxl = "*"
pylint = "*"
pylint-django = "*"


[dev-packages]

pylint = "*"
